.content {}

.intro-section {
    position: relative;
    display: inline-block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.intro-section img {
    display: block;
    width: 100%;
    height: auto;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;

    gap: 32px;
}

.bloco-apresentacao {
    width: 272px;
    height: auto;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 20px;

    span {
        font-size: 18px;
        display: flex;
        text-align: center;
    }
}

.botao {
    background-color: var(--Copper);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 62px;
    padding-right: 62px;
    width: 189px;
    font-size: 18px;
    border-radius: 15px;
}

.blocoQuemSomos {
    margin-top: 25px;
    background-color: var(--SandyBrown);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.quemSomos {
    h1 {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    span {
        font-size: 18px;
    }
}

.contentBarbeiros {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.contentBarbeiro{
    display: flex;
    gap: 10px;
}
.barbeiros {
    display: flex;
    flex-direction: column;

    hr{
        width: 100%;
        border-color: rgba(0, 0, 0, 0.35);
    }
    

    .contentImagemBarbeiro {
        width: 135px;
        height: 165px;
        border-radius: 15px;
    }

    .contentDetalhesBarbeiro {
        display: flex;
        flex-direction: column;

        .nomeBarbeiro {
            font-size: 24px;
        }

        .descricaoBarbeiro {
            font-size: 16px;
        }

        .botaoAgendar {
            margin-top: 9px;
        }
    }
}

.blocoLocalizacao {
    width: 100%;
    background-color: var(--LightTaupe);
    padding: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tituloLocalizacao {
    display: flex;
    gap: 6px;
    color: white;
    align-items: center;

    h1 {
        margin: 0px;
    }
}

.contentMapa {
    margin-top: 20px;
}

.infoLocalizacao {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    color: white;

    :nth-child(1) {
        font-size: 20px;
    }

    :nth-child(3) {
        font-size: 16px;
    }
}

.blocoProdutos {
    margin-top: 25px;
    background-color: var(--SandyBrown);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.tituloProdutos {
    display: flex;
    gap: 6px;
    align-items: flex-end;

    h1 {
        margin: 0px;
        font-size: 28px;
    }
}

.produtos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.produto {
    img {
        width: 184px;
        height: 184px;
        border-radius: 15px;
    }
}

.descricaoBloco {
    margin-top: 25px;

    span {
        font-size: 16px;
    }
}

.contentBotao {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.botaoVerMais {
    width: 170px;
    height: 40px;
    background-color: var(--Copper);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: white;

    img {
        width: 24px;
        height: 24px;
    }

    span {
        font-size: 16px;
    }
}

.botaoAgendar {
    width: 227px;
    height: 40px;
    background-color: var(--Copper);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: white;

    img {
        width: 24px;
        height: 24px;
    }

    span {
        font-size: 16px;
    }
}