<div class="content">
    <div class="intro-section">
        <img src="assets/image/intro-section.jpg" alt="">
        <div class="overlay"></div>
        <div class="content-overlay">
            <div class="bloco-apresentacao">
                <span class="merriweather-regular">Bem-vindo à Barbearia Foratto! Agende seu corte de cabelo com
                    facilidade e estilo.</span>
            </div>
            <div class="botao" role="button" (click)="validaLogin()">
                <span class="merriweather-bold">Agende Seu Horário</span>
            </div>
        </div>
    </div>

    <div class="blocoQuemSomos">
        <div class="quemSomos">
            <h1 class="merriweather-black">Quem Somos?</h1>
            <span class="merriweather-regular">Lorem ipsum odor amet, consectetuer adipiscing elit. Orci integer lorem
                sodales ante ligula ornare
                eleifend.</span>

            <div class="contentBarbeiros">
                <div class="barbeiros" *ngFor="let barbeiro of barbeiros; index as i">
                    <div class="contentBarbeiro">
                        <div>
                            <img class="contentImagemBarbeiro" [src]="barbeiro.imagem" alt="">
                        </div>
                        <div class="contentDetalhesBarbeiro">
                            <span class="merriweather-bold nomeBarbeiro">{{barbeiro.nome}}</span>
                            <span class="merriweather-regular descricaoBarbeiro">{{barbeiro.descricao}}</span>
                            <div class="botaoAgendar" (click)="redirectToAgendamento()">
                                <img src="./assets/image/shopping_bag_branco.svg" alt="">
                                <span class="merriweather-bold">Agendar</span>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="i+1 < barbeiros.length">
                </div>
            </div>
        </div>
    </div>
    <div class="blocoLocalizacao">
        <div class="tituloLocalizacao">
            <img src="assets/image/MapPin.svg">
            <h1 class="merriweather-black">Localização</h1>
        </div>
        <div class="contentMapa">
            <img src="assets/image/Mapa.svg">
        </div>
        <div class="infoLocalizacao">
            <span class="merriweather-bold">Barbearia Foratto</span>
            <span class="merriweather-bold"> Rua Pitangueiras 131, Jundiaí, SP, 13202-450</span>
            <span class="merriweather-regular">Estamos próximos ao Shopping Paineiras, na Rua Pitangueiras, a poucos
                metros da Avenida Nove de
                Julho.</span>
        </div>
    </div>

    <div class="blocoProdutos">
        <div class="tituloProdutos">
            <img src="assets/image/shopping_bag.svg">
            <h1>Descubra nossos produtos</h1>
        </div>

        <div class="produtos">
            <div class="produto" *ngFor="let produto of produtos">
                <img [src]="produto.imagem" alt="" srcset="">
            </div>
        </div>

        <div class="descricaoBloco">
            <span class="merriweather-regular">Na Foratto, além de cuidar do seu visual, oferecemos uma linha exclusiva
                de produtos como gel para
                cabelo, pomadas modeladoras e muito mais. Quer saber mais? Explore nossa coleção completa e encontre o
                produto ideal para você!</span>

            <div class="contentBotao">
                <div class="botaoVerMais" (click)="redirectToProdutos()">
                    <img src="./assets/image/shopping_bag_branco.svg" alt="">
                    <span class="merriweather-bold">Ver mais</span>
                </div>
            </div>
        </div>
    </div>

</div>